{% extends "main.html" %}

{% block header %}
    <title>资产管理－自动化运维平台</title>
{% end %}

{% block body %}
 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">运维平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">流程工单</a></li>
                <li><a href="#">资产管理</a></li>
                <li><a href="#">DNS配置</a></li>
                <li><a href="#">监控平台</a></li>
                <li><a href="#">发布系统</a></li>
                <li><a href="#">任务管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User                    <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"> User Profile</a></li>
                <li><a href="#"> Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </li><!-- /.dropdown-user -->
            <li><a href="#">帮助</a></li>
            </ul>

          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="/cmdb">资产统计<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/cmdb/list">主机列表</a></li>
            <li><a href="/cmdb/prom">应用分类</a></li>
            <li><a href="/cmdb/env">环境分类</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">执行作业</a></li>
            <li><a href="">下发文件</a></li>
            <li><a href="">配置管理</a></li>
            <li><a href="">脚本管理</a></li>
          </ul>
          <!--<ul class="nav nav-sidebar">-->
            <!--<li><a href="">数据中心</a></li>-->
            <!--<li><a href="">环境配置</a></li>-->
            <!--<li><a href="">网络设备</a></li>-->
            <!--<li><a href="">服务器</a></li>-->
            <!--<li><a href="">序列号</a></li>-->
          <!--</ul>-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <ul id="myTab" class="nav nav-tabs">
               <li class="active">
                  <a href="#home" data-toggle="tab">
                     基本信息
                  </a>
               </li>
               <li><a href="#addnode" id="addnodes" data-toggle="tab">添加节点</a></li>
               <li class="dropdown">
                  <a href="#" id="myTabDrop1" class="dropdown-toggle"
                     data-toggle="dropdown">操作
                     <b class="caret"></b>
                  </a>
                  <ul id="dropdown-menus" class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                      <li><a  id="deleteTriger" tabindex="-1" data-toggle="tab">删除</a></li>
                     <!--<li ><a href="#jmeter" tabindex="-1" data-toggle="tab">delete</a></li>-->
                     <!--<li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>-->
                  </ul>
               </li>
                <div class="pull-right">
                    <div  class="dataTables_filters">
                    <input id="datatables_filters" type="search" class="" placeholder="模糊查询" aria-controls="datatables">

                     </div>
                </div>

            </ul>
            <div id="myTabContent" class="tab-content">
               <div class="tab-pane fade in active" id="home">
                    <table id="datatables"  class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <!--<th><input type="checkbox"  id="bulkDelete"  /> <button id="deleteTriger">Delete</button></th>-->
                                <th id="datath"><input type="checkbox" id="bulkDelete"></th>
                                <!--<th><input type="checkbox"  id="bulkDelete" /></th>-->
                                <th>节点名称</th>
                                <th>节点地址</th>
                                <th>应用名称</th>
                                <th>运行环境</th>
                                <th>服务状态</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
               </div>
               <div class="tab-pane fade" id="addnode">

   <!-- table add nodes -->
      <!--<div class="modal"  id="update-modals">-->
      <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <!--<h4 class="modal-title">修改</h4>-->
          <!--</div>-->
          <div class="modal-body" id="addTable">
              <form class="form-horizontal" id="resForm" mothed="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="front-data-server-names">节点名称：</label>
                    <div class="col-sm-4">
                        <input type="text" id="front-data-server-names" name="front-data-server-names" class="form-control"  placeholder="www.idc1.fn"/>
                    </div>
                      <div class="col-sm-6"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="front-data-serverips">节点地址：</label>
                     <div class="col-sm-4">
                        <input type="text" id="front-data-serverips" name="front-data-serverips" class="form-control"  placeholder="10.201.100.100"/>
                    </div>
                    <div class="col-sm-6"></div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label" for="front-data-prom">应用名称：</label>-->
                     <!--<div class="col-sm-4">-->
                        <!--<input type="text" id="front-data-prom" name="front-data-prom"  class="form-control"  placeholder="www"/>-->
                     <!--</div>-->
                     <!--<div class="col-sm-6"></div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label" for="front-data-env">运行环境：</label>-->
                     <!--<div class="col-sm-4">-->
                         <!--<input  type="text" id="front-data-env" name="front-data-env" class="form-control"  placeholder="online|preview"/>-->
                     <!--</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label" for="front-data-status">服务状态：</label>-->
                    <!--<div class="col-sm-4">-->
                     <!--<input type="text" id="front-data-status" name="front-data-status" class="form-control"  placeholder="ok|Fail"/>-->
                <!--</div>-->
                <!--<div class="col-sm-6"></div>-->
                <!--</div>-->

                <!--cmdb.js -&ndash;&gt; //addlist  -->
                <div class="form-group" id="select-proms">
                </div>
                <div  class="form-group" id="select-envs" >
                </div>
                <div  class="form-group" id="select-statuss" >
                </div>

              <div class="form-group ">
                   <div class="col-sm-5"></div>
                   <div class="col-sm-2 pull-left">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="submit-addnode-btn" class="btn btn-primary">保存</button>
              </div></div>
            </form>


          </div>
          <div class="modal-footer">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
            <!--<button type="button" id="submit-update-btn" class="btn btn-primary">保存</button>-->
          </div>
        <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
      <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

               </div>
               <div class="tab-pane fade" id="jmeter">
                  <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
               </div>
               <div class="tab-pane fade" id="ejb">
                  <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
                  </p>
               </div>
            </div>

 <!-- table edit -->
      <div class="modal fade"  id="update-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">修改</h4>
          </div>
          <div class="modal-body">
              <form class="form-horizontal" id="resForm" mothed="post">
                <input type="hidden" id="objectId"/>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="front-data-server-name">节点名称：</label>
                    <div class="col-sm-6">
                        <input type="text" id="front-data-server-name" name="front-data-server-name" class="form-control"  placeholder="Node name"/>
                    </div>
                      <div class="col-sm-3"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="front-data-serverip">节点地址：</label>
                     <div class="col-sm-6">
                        <input type="text" id="front-data-serverip" name="front-data-serverip" class="form-control"  placeholder="节点地址"/>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label" for="front-data-prom">应用名称：</label>-->
                     <!--<div class="col-sm-6">-->
                        <!--<input type="text" id="front-data-prom" name="front-data-prom"  class="form-control"  placeholder="应用名称"/>-->
                     <!--</div>-->
                     <!--<div class="col-sm-3"></div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label" for="front-data-env">运行环境：</label>-->
                     <!--<div class="col-sm-6">-->
                         <!--<input  type="text" id="front-data-env" name="front-data-env" class="form-control"  placeholder="运行环境"/>-->
                     <!--</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label" for="front-data-status">服务状态：</label>-->
                    <!--<div class="col-sm-6">-->
                     <!--<input type="text" id="front-data-status" name="front-data-status" class="form-control"  placeholder="服务状态"/>-->
                <!--</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--</div>-->
                <div  class="form-group" id="select-status" >
                </div>
                <div  class="form-group" id="select-env" >
                </div>

                <div class="form-group" id="select-prom">
                </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" id="submit-update-btn" class="btn btn-primary">保存</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


 <!-- table info -->
      <div class="modal fade" id="info-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">详情</h4>
          </div>
          <div class="modal-body">

              <table id="info" class="table table-responsive table-striped table-hover "></table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!--<button type="button" id="submit-edit-btn" class="btn btn-primary">Save</button> -->
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


        </div><!-- /.col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% end %}

{% block footer %}
    <script src='{{ static_url("dist/cmdb.js") }}'></script>
    <!--<p class="text-center">by louis@2016</p>-->
{% end %}