<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ static_url("bootstrap.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url("jquery-ui.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url("sweetalert.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url("jquery.dataTables.css") }}" rel="stylesheet" type="text/css">

    <meta charset="UTF-8">
    <title>deploy</title>
</head>



    <script src='{{ static_url("dist/jquery.js") }}'></script>
    <script src='{{ static_url("dist/bootstrap.js") }}'></script>
    <script src='{{ static_url("dist/jquery-ui.js") }}'></script>
    <script src='{{ static_url("dist/echarts-all.js") }}'></script>
    <script src='{{ static_url("dist/sweetalert.min.js") }}'></script>
    <script src='{{ static_url("datatable/js/jquery.dataTables.js") }}'></script>

<script>





</script>



</body>
</html>